.card_perso{
width: 600px;
  height: auto;
  margin: 20px;
}
.full-width {
  width: 100%;
}
.stepper {
  font-size: 110%;
  font-family: 'Open Sans Condensed', sans-serif;
}
.spacer {
  flex: 1 1 auto;
}
.ecrant_large{
  width: 80vw
}
.imageMembre{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.spanStep{
  font-size: 150%;
}
.text{
  margin-left: 15px;
  float: right;
}
.pink{
  color: #E91E63;
}

.section_facture{

}
.ecrant_petit{
  display: none;
}

@media only screen and (min-width: 200px) and (max-width: 500px){
  .ecrant_large{
display: none;

  }

  .ecrant_petit{
display: block;
width: 100vw;
  }
  .card_perso{
    height: auto;
    margin: 5px;
    color: white;
  }

  .section_facture{

  }
  .info_compl_list{
    margin-bottom: 20px;
  }
  .diver_info_comp{
    margin-top: 40px;
  }
}
