@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}
.card_orni{
  margin-top: 50px;
  width: 400px;
}
.example-container {
  @include flexbox();
  flex-direction: column;
  min-width: 300px;
}
.mat-column-date{
  font-size: 150%;
  font-family: 'Open Sans Condensed', sans-serif;
  flex: .7 .7 70px;
}
.mat-column-data{
  flex: 1 1 100px;
}
.mat-column-downLoadPath{
  max-width: 30px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.p_sujet, .span_sujet, .mat-column-data{
  font-size: 150%;
  font-family: 'Open Sans Condensed', sans-serif;
}
.mat-table {
  overflow: auto;
  max-height: 500px;
}
