<div class="global_container">
<!-- <mat-card class="toolbar_app" style="background-color:#212121">
  <mat-card-header   class="header_card">
    <h1 class="titre_toolBar">GrandPic</h1>
    <span class="example-spacer"></span>
    <p *ngIf="!auth.isLoggedIn" style="margin-right: 20px" routerLink="/login" routerLinkActive="active">Se connecter</p>
    <p *ngIf="auth.isLoggedIn" (click)="auth.signOut()" routerLink="/coo" style="margin-right: 20px" >Se déconnecter</p>
    <button mat-mini-fab class="bottom_menu_small" [matMenuTriggerFor]="menu"> <i class="material-icons iconeMenuSmall">menu</i></button>
      <button mat-fab  class="bottom_menu_big" [matMenuTriggerFor]="menu"> <i class="material-icons icon_menu">menu</i></button>
    <mat-menu #menu="matMenu" class="matMenuBackGroung" >
      <button mat-menu-item class="matMenu" (click)="enter()">Accueil</button>
      <button mat-menu-item  class="matMenu" (click)="email.setEmail('cooutaouais@outlook.com')" [routerLink]="[{ outlets: { popup: ['compose'] } }]">Communiquer avec l'administrateur</button>
      <button  *ngIf="_isMembre" class="button_accueil" routerLink="./accueil/informations_presonnelles" routerLinkActive="active" mat-button><span style="color:#ffffff">Renseignements personnels</span>  </button>
        <button   routerLink="./accueil/inscription" routerLinkActive="active" class="button_accueil" mat-button><span style="color:#ffffff"> Adhésion/renouvellement</span> </button>
        <button  routerLink="./accueil/liste_de_membres" routerLinkActive="active" class="button_accueil" *ngIf="_isMembre" mat-button> <span style="color:#ffffff">Liste de membres</span></button>
    </mat-menu>
  </mat-card-header>
</mat-card> -->
<div class="router_container">

<router-outlet></router-outlet>
  <router-outlet name="popup"></router-outlet>
</div>
</div>
<!--<nav>-->
  <!--<a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>-->
  <!--<a routerLink="/superheroes" routerLinkActive="active">Heroes</a>-->
  <!--<a routerLink="/accueil" routerLinkActive="active" (click)="enter()">Admin</a>-->
  <!--<a routerLink="/login" routerLinkActive="active">Login</a>-->
  <!--<a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>-->
<!--</nav>-->

<div class="remplissage_cont"></div>
<div class="container_bas_page">
  <a href="http://www.coo.qc.ca/" class="ornitho_link"><p  class="test">Site officiel du Club des ornithologues de l’Outaouais</p></a>
  <p class="bar">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</p>
  <a href="https://www.facebook.com/Club-des-Ornithologues-de-lOutaouais-337865799662094/" class="ornitho_link"><p  class="test">Lien Facebook du Club des ornithologues de l’Outaouais.</p></a>
</div>
  <p class="nero">© neroArtefact, 2018. Tous droits réservés.</p>


