@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}
.wrapper{
  @include flexbox();
}

.header_nav {
  width:100%;
  background-color:#C51162;
  position:fixed;
  top:95px;
  left:0;
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
}

.header_nav--big {
  height:50px;
}

.header_nav--small {
  z-index: 100;
  height:80px;
  opacity: 1;
  padding-top: 20px;
  top:0px;
}




.inscription{

  flex-flow: row wrap;
  /* Then we define how is distributed the remaining space */
  justify-content: flex-start;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  text-align: left;
}

.flex-item-button {
  @include flex(1);
}
.flex-item {
  @include flex(7);
}
.flex-spacer-item {
  flex: 1 20%;
}
.flex-item-titre {
  flex: 1;
  text-align: left;
}
.toolbar_frame {
  flex-flow: row wrap;
  /* align-content: center; */
  /* Then we define how is distributed the remaining space */
  justify-content: flex-start;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}
.bottom_menu_big{
  flex:0;
  position: absolute;
  right: 10px;
  display: none;
  background-color: none;
}
.button_accueil{
  width: 100%;
  font-size: large;
  text-align: left;
}
.list_item_accueil{
  margin-top: 10px;
  z-index: -1;;
}
.container_petitEcrant{
  display: none;
}
.small_screen{
  display: none;
}
.bar_petit_ecrant{
  display: none;
}
.buttonCell{
  color: #ffffff;
}
@media only screen and (min-width: 200px) and (max-width: 770px){
  .flex-item-button{
    display: none;
  }
.flex-spacer-item{
  display: none;
}
  .small_screen{
    display: block;
  }
  .bar_petit_ecrant {
    display: block;
  }
  .toolbar_frame{
    display: none;
  }
  .inscription{
    margin-top: 30px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 420px){
  .flex-spacer-item{
    display: none;
  }
}
