<!--<mat-grid-list cols="1" rowHeight="1000px">-->
<!--<mat-grid-tile colspan = "1" rowspan="1">-->
<!--<mat-progress-spinner color="primary" mode = "indeterminate"></mat-progress-spinner>-->
<!--</mat-grid-tile>-->
<!--</mat-grid-list>-->
<div appMenu class="wrapper bar" (change)="test2($event)" >
    <!-- <div class="bar_petit_ecrant" [ngClass]="{'header_nav':true, 'header_nav--big':!isShrunk, 'header_nav--small':isShrunk}"> -->
    <mat-toolbar class= "wrapper line"  >
        <div class="button_menu">
            <button mat-button [matMenuTriggerFor]="menu">  <i class="material-icons" >menu</i></button>
                 <mat-menu  #menu="matMenu">
                    <button *ngFor="let item of tabMenu | async" mat-menu-item class="button_accueil" (click)="buttonClick(item['theme'])"  [routerLink]="item['routerLink']" routerLinkActive="active" ><span><i class="material-icons menue">{{item['icone']}}</i></span><span class="texte_button">{{item['titre']}}</span>  </button>
                 </mat-menu>
               </div>
        <div class="flex-spacer-item"></div>
        <div class="div_connect">
            <p class="connect" *ngIf="!auth.isLoggedIn"> <a href="http://www.coo.qc.ca/" style="text-decoration: none; color: #ffffff">Se déconnecter</a></p>
            <p class="connect" *ngIf="auth.isLoggedIn" (click)="auth.signOut()" > <a href="http://www.coo.qc.ca/" style="text-decoration: none; color: #ffffff

            ">Se déconnecter</a></p>
              </div>

    </mat-toolbar>

    <mat-toolbar  class= "wrapper line" color="primary">


        <h3 class="flex-item-titre" >{{titre}}</h3>
    </mat-toolbar>
    <div class ="wrapper content">
    <mat-card class="toolbar_menu wrapper"  [ngClass]="{'toolbar_menu_open':inter.menuOpen, 'toolbar_menu_close':!inter.menuOpen, 'menue_small':menue_small, 'menue_medium': menue_medium, 'menue_tall': menue_tall}">
        <div class="header_card wrapper">
           <div class="titre_toolBar_div">
             <h1 class="titre_toolBar">GrandPic</h1>
           </div >
           <span class="spacer"></span>
           <div class="spacer_icone">
             <i class="material-icons  inconeMenu" (click)="iconClick()">{{inter.icon}}</i>
           </div>

        </div>
        <div class="space_bar">
            <mat-list >
                <mat-list-item *ngFor="let item of tabMenu | async" class="list_item_accueil">
                    <button class="button_accueil" (click)="buttonClick(item['theme'])" [routerLink]="item['routerLink']" routerLinkActive="active" mat-button><span><i class="material-icons menue">{{item['icone']}}</i></span><span class="texte_button">{{item['titre']}}</span>  </button>
                  </mat-list-item>
                <!-- <mat-list-item class="list_item_accueil">
                    <button class="button_accueil" (click)="buttonClick('infoPerso')" *ngIf="_isMembre" routerLink="./informations_presonnelles" routerLinkActive="active" mat-button><span><i class="material-icons menue">person</i></span><span class="texte_button">Renseignements personnels</span></button>
                  </mat-list-item>
              <mat-list-item class="list_item_accueil">
                <button (click)="buttonClick('inscription')"  routerLink="./inscription" routerLinkActive="active" class="button_accueil" mat-button> <span><i class="material-icons menue">launch</i></span><span class="texte_button">Adhésion/renouvellement</span></button>
              </mat-list-item>
              <mat-list-item class="list_item_accueil">
                <button (click)="buttonClick('liste_membres')"  routerLink="./liste_de_membres" routerLinkActive="active" class="button_accueil" *ngIf="_isMembre" mat-button><span><i class="material-icons menue">people</i></span><span class="texte_button">Liste de membres</span></button>
              </mat-list-item>
              <mat-list-item>
                <button (click)="buttonClick('ornithologie')" class="button_accueil" *ngIf="_isMembre" routerLink="./ornithologie" routerLinkActive="active" mat-button> <span><i class="material-icons menue">picture_as_pdf</i></span><span class="texte_button">L’Ornitaouais</span></button>
              </mat-list-item>
              <mat-list-item>
                <button mat-button  class="button_accueil" (click)="buttonClick('email')"  [routerLink]="[{ outlets: { popup: ['compose'] } }]"><span><i class="material-icons menue">email</i></span><span class="texte_button">Communiquer avec l'administrateur</span></button>
              </mat-list-item>
              <mat-list-item>
                  <button (click)="buttonClick('redaction')" class="button_accueil" *ngIf="_isMembre" routerLink="./redaction" routerLinkActive="active" mat-button><span><i class="material-icons menue">create</i></span><span class="texte_button">Rédaction</span></button>
                </mat-list-item> -->
            </mat-list>
        </div>
    </mat-card>
    <div class="flex-item wrapper" [ngClass]="{'flex-item_open':inter.menuOpen, 'flex-item_close':!inter.menuOpen}">
        <div class="accueil wrapper" [ngClass]="{'accueilIn':accueil, 'accueilOut':!accueil}">
          <div class="accueil_image wrapper" >
            <div>
            <img class="pic_image" src="./assets/Pic2.png">
            </div>
            <p class="pCitation"  >{{p_citation}}</p>
            <p class="pAuteur"   ></p>

                <p class="pinscription"  >{{p_pic_texte}}</p>


                  <p class="pOrnita"  >{{i_pic_texte}}</p>

          </div>
      </div>
        <div class="router_outlet" [ngClass]="{'router_outletIn':!accueil, 'router_outletOut':accueil}">
            <router-outlet ></router-outlet>
        </div>

      </div>
  </div>
    </div>


<!-- <div class="container">
  <div class="bar_petit_ecrant" [ngClass]="{'header_nav':true, 'header_nav--big':!isShrunk, 'header_nav--small':isShrunk}">
  <mat-toolbar color="primary">
    <div class="flex-spacer-item"></div>
    <h3 class="flex-item-titre">{{titre}}</h3>
    <button color="primary" mat-fab [ngClass]="{'bottom_menu_big':!isShrunk}" [matMenuTriggerFor]="menuCell"> <i class="material-icons icon_menu">menu</i></button>
    <mat-menu #menuCell="matMenu" >
        <button  (click)="buttonClick('infoPerso')" *ngIf="_isMembre" class="button_accueil" routerLink="./informations_presonnelles" routerLinkActive="active" mat-button><span style="color:#ffffff">Renseignements personnels</span>  </button>
        <button (click)="buttonClick('inscription')"  routerLink="./inscription" routerLinkActive="active" class="button_accueil" mat-button><span style="color:#ffffff"> Adhésion/renouvellement</span> </button>
        <button (click)="buttonClick('liste_membres')"  routerLink="./liste_de_membres" routerLinkActive="active" class="button_accueil" *ngIf="_isMembre" mat-button> <span style="color:#ffffff">Liste de membres</span></button>
      </mat-menu>
  </mat-toolbar>
  </div>
  <div class="wrapper">

</div>


  <make-payment></make-payment>
</div> -->






