.example-container {
  width: 100%;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin transform($scales, $translateY, $translateX){
  -webkit-transform: scale($scales) translateY($translateY) translateX($translateX);
  -moz-transform: scale($scales) translateY($translateY) translateX($translateX);
  -ms-transform: scale($scales) translateY($translateY) translateX($translateX);
  -o-transform: scale($scales) translateY($translateY) translateX($translateX);
  transform: scale($scales) translateY($translateY) translateX($translateX);
}
.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.textAlligne{
  cursor: pointer;
  text-align: right;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
.input_filter{
  color: white;
}

.imageMembre {
  @include flex(1);
  @include transform(0.8,0px,0px);
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.container_photo{


  justify-content: center;
  flex-direction: column;
}
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}
#nom_box_cont{
  flex: 4;
}
.mat-column-Nom {
  flex: 1.3 1.3 250px;
  font-size: 150%;
  font-family: 'Open Sans Condensed', sans-serif;
}
.mat-column-Courriel {
  font-size: 150%;
  font-family: 'Open Sans Condensed', sans-serif;
  flex: .15 1 60px;
  text-align: right;
}

.mat-column-Photo {
  @include transform(1,0px,-10px);
  flex: .15 1 60px;

}

.mat-column-Telephone{
  font-size: 150%;
  font-family: 'Open Sans Condensed', sans-serif;
  flex: 1 1 100px;
}
#nom_box, #nom_box2{
  text-align: center;
  width: 300px
}
.center_element {
  @include flexbox();
  width: 550px;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

@media only screen and (min-width: 200px) and (max-width: 770px){


}
  @media only screen and (min-width: 200px) and (max-width: 600px){
    .center_element {
      width: 100%;}
    .mat-column-Telephone{
     display: none
    }
    .mat-column-Photo{
      display: none
    }
    .mat-column-Nom {
      @include flex(1);
    }
    .mat-column-Courriel {
      @include flex(1);
      text-align: center;
    }

  }

