.image_coo_longue_vueSmall2{
  display: none;
 }
.image_club{
  top: 200px
}

.container_coo_titre{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.div_texte{
  flex:1;
}

.pImageCoo{

top:140px;
  position: absolute;
  width: 1100px;
  color:#C51162;
  font-size: 200%;
  font-family: 'Open Sans Condensed', sans-serif;
}
.image_coo_longue_vue{
  position: absolute;
  transform: scale(.68);
}
.image_coo_longue_vueSmall{
display: none;
}

.flex_center_line{
  display: flex;
  justify-content: center;
}

.svg_photo{
width:1100px;
height: 500px;
transform: translateY(100px)
}
.borderPhoto{
  margin-top:100px;
  margin-right: 5px;
  height: 0.1px;
  width: 0.1px;
border-style: solid;
border-color: #C51162;
border-width: 14px;
}

.rect_photo{
 width:15px;
 height: 15px;
 stroke: #C51162;
 stroke-width: 15;
 fill:none;
}
.titre_photo{
  color: #C51162;
  position: relative;
  top: -200px;
  text-align: right;
  margin-right: 20px;
  font-weight: bold;
  font-size: 250%;

}

.backGround_titre {

  position: relative;
  bottom: 200px;
  background-color: #424242;
  height: 60px;
  width: 100%;
  position: relative;
  bottom: 120px;
  opacity: .92;

}



.imageFront_container {
  width: 100%;
  height: 800px;
  text-align: left;
}

.p_pic_container, .c_pic_container{
  display: flex;
  justify-content: center;
  height: 500px;

}

.i_pic_button{
  height:80px ;
  width: 80px;
  background-color: #03A9F4
}

.p_pic_button, .c_pic_button{
  height:80px ;
  width: 80px;
}
.acceder_text {
  display: none;
}
.p_pic_backGround, .c_pic_backGround{
  height: 500px;
  background-color: #ffffff;
}

.i_pic_backGround{
  background-color: #212121;
  border-style: solid;
  border-color: #424242;
  border-width: 1px;
}
.p_pic_image, .c_pic_image{
  margin-right: 10px;
   float: right;
  -webkit-transform: scale(.7);
  -moz-transform:    scale(.7);
  -ms-transform:     scale(.7);
  -o-transform:      scale(.7);
  transform:         scale(.7);
}
.c_pic_image{
  margin-top: 90px;
}
.i_pic_image {
  margin-right: 60px;
   float: right;
  -webkit-transform: scale(.5);
  -moz-transform:    scale(.5);
  -ms-transform:     scale(.5);
  -o-transform:      scale(.5);
  transform:         scale(.5);
}

.p_pic_layout, .c_pic_layout {
  margin-top: 100px;
  margin-left: 100px;
  float: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p_pic_titre, .c_pic_titre{
  width: 600px;
  order:1;
  color:#727272;
  font-size: 200%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;

}

.p_pic_texte, .c_pic_texte {
order:2;
line-height:0px;
width: 600px;
color:#727272;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p_pic_ligne, .c_pic_ligne{
  line-height:0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 200px;
  text-align: left;
  justify-content:  flex-start
}

.p_pic_mot, .c_pic_mot{
  height: auto;
}

.div_pic_image{display: block}

@media only screen and (min-width: 200px) and (max-width: 760px){
  .backGround_titre {
    display: none;
  }
}
.imageFront_containerSmall {
 display: none;
}
@media only screen and  (max-width: 1100px){


    .p_pic_texte, .c_pic_texte, .p_pic_titre, .c_pic_titre {
      width: 500px;
      }

      .p_pic_layout, .c_pic_layout {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        margin-left: 10px;
        margin-bottom: 10px;
        float: none;
        order:2;
        height: 400px;
      }


      .imageFront_container{
        display: none;
      }
      .image_coo_longue_vueSmall{
        position: absolute;
        top: 150px;
          width: 600px;
          height: 300px;
          display: inline;
        }
        .imageFront_containerSmall {
          position: relative;
          display: flex;
          width: 100%;
          height: 600px;
          flex-direction: column;
          align-items: center;
        }

        .svg_photoSmall{
         position: absolute;
         top:150px;
          width:600px;
          height: 300px;
          }
          .rect_photoSmall{
             width:15px;
             height: 15px;
             stroke: #C51162;
             stroke-width: 15;
             fill:none;
            }
            .pImageCooSmall{
              top:100px;
              position: absolute;
                width: 600px;
                color:#C51162;
                font-size: 150%;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
              }
              .div_pic_image{display: none}

}






  @media only screen and (min-width: 200px) and (max-width: 420px){
    .test{
      display: none;
      color:#ffffff;
    }
    .div_pic_image{
      display: none;
    }
    .image_coo_longue_vueSmall{
     display: none;
    }
    .image_coo_longue_vueSmall2{
      display: list-item;
      z-index: -1;
      -webkit-transform: scale(.5);
      -moz-transform:    scale(.5);
      -ms-transform:     scale(.5);
      -o-transform:      scale(.5);
      transform:         scale(.5);
     }
    .imageFront_containerSmall{
      width: 100%;
      height: 450px;
    }
    .svg_photoSmall{
    display: none;
       }
       .rect_photoSmall{
         display: none;
         }
         .pImageCooSmall{
           width: 300px;
           top:0px;
           z-index: 1;
         }
         .svg_SmallPhone{
          position: absolute;
          top:150px;
           width:100%;
           height: 300px;
           background-color: #ffffff;

         }
         .rect_SmallPhone{
          width:100%;
          height: 300px;
          stroke: #C51162;
          stroke-width: 15;
          fill:none;
         }
         .p_pic_texte, .c_pic_texte, .p_pic_titre, .c_pic_titre {
          width: 350px;
          }
          .p_pic_button, .i_pic_button, .c_pic_button{
          display: none
          }

  }
