
<!--photo coo grand écrant -->
<div class="imageFront_container flex_center_line">
    <p class="pImageCoo" [@photoClub]= "statePhoto"  (@photoClub.done) = "animNext($event)">Le club des Ornithologues de l'Outaouais</p>
    <img src="./assets/photo1.png" [@photoClub]= "statePhoto" class="image_coo_longue_vue" >
  <!--  <img src="./assets/1x/1x/1x/club.png" [@photoClub]= "statePhoto" class="image_coo_longue_vue image_club" >-->
  <svg class="svg_photo" >
  <rect [@animationSquar]="stateSquar"
  (@animationSquar.done) = "animNext($event)"
   class="rect_photo"/>
    </svg>
</div>


<!--photo coo petit écrant -->
<div class="imageFront_containerSmall flex_center_line">
  <p class="pImageCooSmall" [@photoClub]= "statePhoto"  (@photoClub.done) = "animNext($event)">Le Club des Ornithologues de l'Outaouais</p>
  <img src="./assets/photo1.png" [@photoClub]= "statePhoto" class="image_coo_longue_vueSmall" >
  <img src="./assets/photo2.png"  class="image_coo_longue_vueSmall2" >
<!--  <img src="./assets/1x/1x/1x/club.png" [@photoClub]= "statePhoto" class="image_coo_longue_vue image_club" >-->
<svg class="svg_photoSmall" >
<rect x="0" y="0" [@animationSquarSmall]="stateSquar"
(@animationSquar.done) = "animNext($event)"
 class="rect_photoSmall"/>
  </svg>
</div>




<!-- *ngIf="false" -->
<div class='p_pic_container'>
  <section class='p_pic_backGround' [@p_backGround] = 'stateBackGround'  (@p_backGround.done) = "animNext($event)">
    <div class="p_pic_layout" [@p_image]="stateImpP" (@p_image.done) = "animNext($event)">
        <div class="p_pic_titre">
          <p>Système de gestion de membres</p>
        </div>
        <div class="p_pic_texte">
           <p class="p_pic_ligne">
             <span class="p_pic_mot"
             *ngFor="let hero of p_pic_texte_tabe; let i = index;"  [@flyInOut] = "state[i]"
             >{{hero}} &nbsp;
            </span>
          </p>
        </div>
  </div>
  <div class="div_pic_image">
  <img class="p_pic_image" src="./assets/p_pic.jpg" [@p_image]="stateImpP" />
</div>
</section>
<button class="p_pic_button" (click)="clickAccederP()" [@p_container]= "stateP"  [@p_containerTranslate]="stateTranslateP"  (@p_containerTranslate.done) = "animNext($event)" mat-raised-button color="primary"><span [@p_image]="stateImpP" >Accéder</span></button>
</div>

<div class='p_pic_container'>
    <section class='i_pic_backGround'  [@i_backGround] = 'stateBackGround_I'  (@i_backGround.done) = "animNext($event)">
        <div class="p_pic_layout" [@i_image]="stateImpI" (@i_image.done) = "animNext($event)">
            <div class="p_pic_titre">
              <p>Accèder à la liste des membres</p>
            </div>
            <div class="p_pic_texte" >
               <p class="p_pic_ligne">
                 <span class="p_pic_mot"
                 *ngFor="let hero of p_pic_texte_tabe; let i = index;"  [@flyInOut] = "state[i]"
                 >{{hero}} &nbsp;
                </span>
              </p>
            </div>
      </div>
      <div class="div_pic_image">
      <img class="i_pic_image" src="./assets/1_image2.png" [@i_image]="stateImpI"  />
    </div>
    </section>
    <button class="i_pic_button" mat-raised-button [@i_container]="stateIContainer" [@I_containerTranslate]="stateTranslateI" (@I_containerTranslate.done) = "animNext($event)"><span [@i_image]="stateImpI">Accéder</span></button>
</div>
<!--<div class="backGround_titre">
</div>
 <h1 class="titre_photo">Club des ornithologues de l'Outaouais</h1>-->

