
@mixin transform($scales){
  -webkit-transform:  scale($scales);
  -moz-transform: scale($scales) ;
  -ms-transform:   scale($scales);
  -o-transform:   scale($scales);
  transform:  scale($scales);
}
@mixin transformY($scales){
  -webkit-transform: translateY($scales);
  -moz-transform: translateY($scales) ;
  -ms-transform: translateY($scales);
  -o-transform: translateY($scales);
  transform: translateY($scales);
}
@mixin transformX($scales){
  -webkit-transform: translateX($scales);
  -moz-transform: translateX($scales) ;
  -ms-transform: translateX($scales);
  -o-transform: translateX($scales);
  transform: translateX($scales);
}
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}
.cls-1{fill:#fff;}
.cls-2,.cls-3{fill:none;stroke:#fff;stroke-miterlimit:10;}
.cls-2{stroke-width:4px;}
.cls-3{stroke-width:4px;}
.goupeButton{
 @include transform(.4);
}

.out{
  display:none;
}
.in{display:inline;}
.chouette{
  opacity: 0;
  -webkit-transition:5s ease;
  -moz-transition:5s ease;
  -o-transition:5s ease;
  transition:5s ease;
  @include flex(1);
}
.stage1{
  opacity: 1;
  display:inline;
}

.circleOiseau:hover, .circlePointeur:hover, .circleMembre:hover{
  .circle1{
    fill:#C51162;
  }
  .circle2, .circle1{
    @include transformY(0px);
  }
  @include transform(1.3);
}
.circle1, .circle2{
  -webkit-transition: .5s ease;/* For Safari 3.1 to 6.0 */
  transition: .5s ease;
}
.line{
  width:120px;
  height:80px;

margin: 0px;
}
.circleOiseau, .circlePointeur, .circleMembre{
  width:80px;
  height:80px;
  -webkit-transition: .5s ease;/* For Safari 3.1 to 6.0 */
  transition: .5s ease;

}
.hover{
  -webkit-transition: .5s ease;/* For Safari 3.1 to 6.0 */
  transition: .5s ease;
}
.hover:hover{
  .cls-3{
    fill:#C51162
  }
  @include transform(2);
}
.circlePointeur{

}

.circleMembre
{

}
.wrapper {
  @include flexbox();
}
.imageWrapper{
  justify-content: center;
    align-items: center;
}
.titreWrapper{
  flex-flow: column;
  align-items: center;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {

  transform: translateZ(0) ;

}
.parallax__layer--back {
  transform: translateY(400px) translateZ(-1px) scale(2);
  background-color: #212121;
  width: 100%
}
.containerScroll{
  perspective: 1px;
  height: 200vh;
  overflow-x: hidden;
  overflow-y: auto

}
.containerScroll::-webkit-scrollbar {
  display: none;
 }
 .spacer{
  @include flex(1);
background-color: #C51162
 }
.imageOuverture{
position: relative;
top: -100px;
z-index: -200;

}

.image_coo_longue_vueSmall2{
  display: none;
 }
.image_club{
  top: 200px
}

.container_coo_titre{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.div_texte{
  flex:1;
}
.titreClub{
  text-align: center;
}
.imagePique{
  transform: translateY(-1100px) translateZ(-2px) scale(.05);
}
.button_front{
  @include flex(1);
  justify-content: center;
  flex-direction: row;
}

.pouinteur {
  @include flex(1.5);
  min-width: 500px;
  @include transformY(-500px);
}

.pouinteur:hover , .oiseau:hover, .membre:hover{
 /* background-color: #C51162;
  opacity: .1;
  @include transform(.4); */
}
.spacerButton{
  @include flex(2);
}

.pImageCoo{
  @include flex(1);
  transform: translateY(-1250px) translateZ(-2px);
  color:#ffffff;
  font-size: 200%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}
.pCitation{
  @include flex(1);
  transform: translateY(-1250px) translateZ(-2px);
  color:#ffffff;
  font-size: 200%;
  font-family: 'Great Vibes', sans-serif;
  max-width: 500px;
}
.pAuteur{
  @include flex(1);
  transform: translateY(-1300px) translateZ(-2px);
  font-family: 'Open Sans Condensed', sans-serif;
  color:#ffffff;
  text-align: right
}
.image_coo_longue_vue{
  position: absolute;
  transform: scale(.68);
}
.image_coo_longue_vueSmall{
display: none;
}

.flex_center_line{
  display: flex;
  justify-content: center;
}

.svg_photo{
width:1100px;
height: 500px;
transform: translateY(100px)
}
.borderPhoto{
  margin-top:100px;
  margin-right: 5px;
  height: 0.1px;
  width: 0.1px;
border-style: solid;
border-color: #C51162;
border-width: 14px;
}

.rect_photo{
 width:15px;
 height: 15px;
 stroke: #C51162;
 stroke-width: 15;
 fill:none;
}
.titre_photo{
  color: #C51162;
  position: relative;
  top: -200px;
  text-align: right;
  margin-right: 20px;
  font-weight: bold;
  font-size: 250%;

}

.backGround_titre {

  position: relative;
  bottom: 200px;
  background-color: #424242;
  height: 60px;
  width: 100%;
  position: relative;
  bottom: 120px;
  opacity: .92;

}



.imageFront_container {
  width: 100%;
  height: 800px;
  text-align: left;
}

.p_pic_container, .c_pic_container{
  display: flex;
  justify-content: center;
  height: 500px;

}

.i_pic_button{
  height: 80px;
  width: 80px;
  background-color: #03A9F4
}

.p_pic_button, .c_pic_button{
  height: 80px ;
  width: 80px;
}
.acceder_text {
  display: none;
}
.p_pic_backGround, .c_pic_backGround{
  height: 500px;
  background-color: #ffffff;
}

.i_pic_backGround{
  background-color: #212121;
  border-style: solid;
  border-color: #424242;
  border-width: 1px;
}
.p_pic_image, .c_pic_image{
  margin-right: 10px;
   float: right;
  -webkit-transform: scale(.7);
  -moz-transform:    scale(.7);
  -ms-transform:     scale(.7);
  -o-transform:      scale(.7);
  transform:         scale(.7);
}
.c_pic_image{
  margin-top: 90px;
}
.i_pic_image {
  margin-right: 60px;
   float: right;
  -webkit-transform: scale(.5);
  -moz-transform:    scale(.5);
  -ms-transform:     scale(.5);
  -o-transform:      scale(.5);
  transform:         scale(.5);
}

.p_pic_layout, .c_pic_layout {
  margin-top: 25px;
  margin-left: 50px;
  float: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p_pic_titre, .c_pic_titre{
  width: 600px;
  order:1;
  color:#727272;
  font-size: 200%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;

}

.p_pic_texte, .c_pic_texte {
order:2;
line-height:0px;
width: 600px;
color:#727272;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 140%;
}

.p_pic_ligne, .c_pic_ligne{
  line-height:0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 300px;
  text-align: left;
  justify-content:  flex-start
}

.p_pic_mot, .c_pic_mot{
  height: auto;
}

.div_pic_image{display: block}

@media only screen and (min-width: 200px) and (max-width: 2000px){
  .titreWrapper {
    @include transformY(-100px)
  }
}

@media only screen and (min-width: 200px) and (max-width: 760px){
  .backGround_titre {
    display: none;
  }
}
.c_pic_mot{
  font-size: 100%;
}
.imageFront_containerSmall {
 display: none;
}
@media only screen and  (max-width: 1100px){

  .c_pic_mot{
    font-size: 100%;
  }

  .p_pic_layout, .c_pic_layout {



  }
    .p_pic_texte, .c_pic_texte, .p_pic_titre, .c_pic_titre {
      width: 500px;
      @include flex(1);

      }




      .imageFront_container{
        display: none;
      }
      .image_coo_longue_vueSmall{
        position: absolute;
        top: 150px;
          width: 600px;
          height: 300px;
          display: inline;
        }
        .imageFront_containerSmall {
          position: relative;
          display: flex;
          width: 100%;
          height: 600px;
          flex-direction: column;
          align-items: center;
        }

        .svg_photoSmall{
         position: absolute;
         top:150px;
          width:600px;
          height: 300px;
          }
          .rect_photoSmall{
             width:15px;
             height: 15px;
             stroke: #C51162;
             stroke-width: 15;
             fill:none;
            }
            .pImageCooSmall{
              top:100px;
              position: absolute;
                width: 600px;
                color:#C51162;
                font-size: 150%;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
              }
              .div_pic_image{display: none}

}






  @media only screen and (min-width: 200px) and (max-width: 420px){
    .pImageCoo, .pCitation {
      transform: translateY(-1100px) translateZ(-2px);}

    .pAuteur{ transform: translateY(-1150px) translateZ(-2px);}
.line{ display: none}
    .pouinteur {
      @include flexbox();
      justify-content: center;
       flex-direction: row;
      @include flex(1);
      min-width: 300px;
      @include transformY(-500px);
    }
    .circleOiseau, .circlePointeur, .circleMembre{
      @include flex(1);
    }
    .test{
      display: none;
      color:#ffffff;
    }
    .p_pic_texte, .c_pic_texte, .c_pic_mot{
      font-size: 80%;
    }
    .div_pic_image{
      display: none;
    }
    .image_coo_longue_vueSmall{
     display: none;
    }
    .image_coo_longue_vueSmall2{
      display: list-item;
      z-index: -1;
      -webkit-transform: scale(.5);
      -moz-transform:    scale(.5);
      -ms-transform:     scale(.5);
      -o-transform:      scale(.5);
      transform:         scale(.5);
     }
    .imageFront_containerSmall{
      width: 100%;
      height: 450px;
    }
    .svg_photoSmall{
    display: none;
       }
       .rect_photoSmall{
         display: none;
         }
         .pImageCooSmall{
           width: 300px;
           top:0px;
           z-index: 1;
         }
         .svg_SmallPhone{
          position: absolute;
          top:150px;
           width:100%;
           height: 300px;
           background-color: #ffffff;

         }
         .rect_SmallPhone{
          width:100%;
          height: 300px;
          stroke: #C51162;
          stroke-width: 15;
          fill:none;
         }
         .p_pic_texte, .c_pic_texte, .p_pic_titre, .c_pic_titre {
          width: 350px;
          }
          .p_pic_button, .i_pic_button, .c_pic_button{
          display: none
          }

  }
