.text_upload{
  color:#717171;
}
.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  border: 2px dashed #C51162;
  border-radius: 5px;
  color: #717171;
  background: #212121;
  margin: 10px 0;

  &.hovering {
      border: 2px solid #C51162;
      color: #dadada !important;
  }
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}
